li {
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(228, 228, 228);
}

.notdropdown {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.dropdowncontainer {
  margin: 0 auto;
}

.dropdownlist {
  padding-top: 10px;
  margin-left: -8px;
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(228, 228, 228);
}

.dropdown {
  padding-bottom: 10px;
  background-color: white;
}
