* {
  color: #547c94;
}

.desktopnavbar {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.mobilenavbar {
  display: none;
}

.navbaritems {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
}

.navbarlogo {
  object-fit: cover;
  height: 100px;
}

.mobilehamburger {
  display: none;
}

.navbarlink {
  text-decoration: none;
  color: #547c94;
}

.sociallink {
  object-fit: cover;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1000px) {
  .desktopnavbar {
    display: none;
  }

  .mobilenavbar {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }

  .mobilehamburger {
    display: flex;
    object-fit: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
  }
}
