.maptext {
  display: flex;
}

.text {
  width: 50%;
}

.map {
  margin-left: 20px;
  width: 50%;
  border: none;
}

.table {
  column-width: 300px;
  column-gap: 40px;
}

@media screen and (max-width: 1000px) {
  .maptext {
    display: block;
  }

  .text {
    width: 100%;
  }

  .map {
    margin-left: 0;
    width: 100%;
    height: 600px;
  }
}

.address {
  width: 790px;
  margin: 10px 0 10px 0;
}

.beachname {
  width: 250px;
  margin: 10px 10px 10px 0;
}

.beachaddress {
  width: 520px;
  margin: 10px 0 10px 10px;
}

.contact {
  width: 790px;
  margin: 10px 0 10px 0;
}

.why {
  width: 790px;
  margin: 10px 0 10px 0;
}

@media screen and (max-width: 810px) {
  .name {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .email {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .phone {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .birthday {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .address {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .beachname {
    width: 100;
    margin: 10px 0 10px 0;
  }

  .beachaddress {
    width: 100;
    margin: 10px 0 10px 0;
  }
}
