.largecontainer {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto auto auto auto auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
  column-width: 250px;
  margin: 20px 0 10px 0;
}

.equiptment {
  grid-row-start: 1;
  grid-row-end: 8;
}

.pickup {
  grid-column: 2;
  grid-row: 1;
}

.dropoff {
  grid-column: 3;
  grid-row: 1;
}

.delivery {
  grid-column-start: 2;
  grid-column-end: 4;
}

.deliveryaddress {
  grid-column-start: 2;
  grid-column-end: 4;
}

.questions {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 8;
}

@media screen and (max-width: 810px) {
  .largecontainer {
    display: flex;
    flex-direction: column;
  }

  .equiptment {
    width: 100%;
  }

  .pickup {
    width: 100%;
  }

  .dropoff {
    width: 100%;
  }

  .delivery {
    width: 100%;
  }

  .deliveryaddress {
    width: 100%;
  }

  .questions {
    width: 100%;
  }

  .used {
    height: 40px;
  }
}
