.eventcontainer {
  display: flex;
}

.eventthumbnail {
  width: 200px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .eventcontainer {
    display: block;
  }

  .eventthumbnail {
    width: 100%;
  }
}
