.ourteamimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.ourteamtext {
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  border-radius: 5px;
  width: 235px;
}

.ourteamcontainer {
  position: relative;
  width: 275px;
  height: 300px;
  margin: 10px;
}

.ourteamprofilecontainer {
  position: relative;
}

.ourteamprofileimage {
  width: 275px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}
