.button {
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.button:hover {
  background-color: rgb(228, 228, 228);
}

.dropdowncontent {
  padding-top: 10px;
  position: absolute;
  perspective: 1px;
  box-shadow: 0 4px 4px rgba(114, 114, 114, 0.3);
}

@media screen and (max-width: 1000px) {
  .dropdowncontent {
    padding: 5px;
    position: relative;
    box-shadow: none;
    margin-left: 10px;
  }
}
