.navlist {
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.navlist:hover {
  background-color: rgb(228, 228, 228);
}

.notdropdown {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  align-content: center;
}

.dropdowncontainer {
  margin: 0 auto;
}

.dropdownlist {
  padding-top: 10px;
  margin-left: -6px;
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(228, 228, 228);
}

@media screen and (max-width: 1150px) {
  .notdropdown {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}