.sponsorscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sponsor {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sponsorimage {
  margin: 10px;
  width: 100px;
  height: fit-content;
}

.footerlogo {
  height: 200px;
  margin: 10px;
}

.footeradditionalcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footerlogo {
    margin-bottom: 20px;
  }

  .footercontact {
    margin-bottom: 20px;
  }

  .footersocial {
    margin-bottom: 20px;
  }

  .footeradditionalcontainer {
    flex-direction: column;
  }
}
