.sponsorscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sponsor {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sponsorimage {
  margin: 10px;
  width: 100px;
  height: fit-content;
}
