* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: rgb(9, 117, 162);
}

h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  font-size: 18px;
  max-width: 1250px;
}

br {
  content: "";
  margin: 10px;
  display: block;
}

.page {
  padding: 10px;
}

.link {
  text-decoration: none;
  color: #547c94;
}
